/* SELETORES POR NOME DA TAG */

/* corpo da página */
body{
    color: #333333;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    /* margens a esquerda e direita automática, e largura máxima faz com que tudo fique centralizado */
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}

/* titulo */
h1{
    /* coloca uma imagem de fundo */
    background-image: url(../img/sobre-background.jpg);
    padding: 10px;
}

/* subtitulo */
h2{
    border-bottom: 2px solid #333333;  
    margin-top: 30px;
}

/* parágrafo */
p{
    padding: 0 45px;
    text-indent: 15px;
}

/* imagem */
figure{
    background-color: #F2EDED;
    border: 1px solid #ccc;
    text-align: center;
    padding: 15px;
    margin: 30;
}

/* legenda da imagem */
figcaption{
    font-style: italic;
    margin-top: 10px;
}

/* SELETORES POR ID */
#centro-distribuicao {
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

#rodape {
    color: #777;
    margin: 30px 0;
    padding: 30px 0;
}

#rodape img {
    margin-right: 30px;
    vertical-align: middle;
    width: 94px;
}

#familia-pelho{
    float: right;
    margin: 0 0 10px 10px;
}